src/main/resources/records.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="employees">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employee" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="id" type="xs:string" />
							<xs:element name="name">
								<xs:complexType>
									<xs:all>
										<xs:element name="firstName" type="xs:string" />
										<xs:element name="lastName" type="xs:string" />
									</xs:all>
								</xs:complexType>

							</xs:element>
							<xs:element name="title" type="xs:string" />
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>